html {scroll-behavior: smooth;}
body {font-family: 'Josefin Sans', sans-serif;}
#navbartot {background-color: black !important; opacity: 0.9;}
#lolle {display: inline-block; display: inline-table; text-align: right;}
.navbar-brand {color: white !important; font-size: 200%; padding-left: 30%; padding-top: 1%; padding-bottom: 1%; 
	padding-right: 10%;}
#logo {padding-bottom: 5px; padding-right: 2px; opacity: 1;}
nav ul {list-style-type: none;}
nav ul li {display: inline-block;}
.navinfo {font-size: 80%;}
.container-fluid {padding: 0%;}
.navright {color: white; display: inline-block; font-size: 130%; padding-right: 0px;}
#insta {padding-left: 12px;}
#stagram {padding-right: 12px;}
#title {color: white; font-size: 5em ; padding-top: 15%; padding-left: 20%; padding-right: 20%;}
#subtitle{color: white; font-size: 2em;}
.quiz { padding-right: 25%; padding-left: 25%; text-align: center;}
#passion {background-color: #0eda58;}
#happyness {background-color: #0eda58;}
#energetic {background-color: #0eda58;}
#relax {background-color: #0eda58;}
#sadness {background-color: #0eda58;}
#linkpro {color: white; padding-top: 3%;}
h2 {padding-top: 8%; color: white;padding-left: 10%; padding-right: 10%;}
.welcome {color: white;}
.secondtext {color: white; font-size: 0.8em;}
.notbold {font-weight: normal;}
.howit {padding-top: 3%; color: white;}
.thirdtext {color: white; font-size: 0.8em !important;}
.contact {padding-top: 3%; color: white;}
.fourthtext {color: white; font-size: 0.8em !important;}
h3 {padding-top: 10%;}
.doc {color: white; padding-left: 10%; padding-right: 10%; padding-top: 8%;}
.pardoc {font-size: 60%;}
.docsub {font-size: 80%;}
.architettura {padding-left: 25%; width: 50%; height: 50%;}
.wireframe {width: 25%; height: 50%;}
.divwiewframe {display: inline-block;}
#wtitle {color: black !important;}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  body
.navbar-brand {padding-left: 1%;}
.doc {padding-top: 15%;}}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
body {background: black url("img/backgroundphone.jpg") no-repeat fixed center !important;}
 #title {font-size: 2.5em; padding-left: 5%; padding-right: 5%; padding-top: 30%;}
#subtitle {font-size: 1.2em;padding-left: 2%; padding-right: 2%;}
.quiz {display: block;}
#navbartot {;}
.navbar-brand{font-size: 135%; padding-left: 1%; padding-right: 0%; margin-right: 0%;}
.navright{font-size: 90%; display: inline-block !important;}
#insta {padding-left: none;}
#stagram{padding-right: 15%;}
.doc{padding-top: 25%;}}